.card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  justify-self: center;
  box-shadow: 5px 3px 0 0 rgba(0, 0, 0, 0.35);
  display: grid;
  grid-template-columns: 1fr;
}

.card__image {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
}

.card__image--hover {
  filter: brightness(15%);
}

.card__description {
  z-index: 1;
  width: 60%;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
  opacity: 0;
  padding: 0.5rem;
  color: white;
}

.card__description h4 {
  font-weight: 400;
}

.card__description p {
  font-weight: 300;
}

.card__description--hover {
  opacity: 1;
}
