.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.35);
  background-color: #3c6e71;
  color: white;
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem auto 2rem auto;
  row-gap: 0.5rem;
}

.form button {
  align-self: flex-end;
  border: none;
  background-color: #353535;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  font: inherit;
}

.form button:hover {
  transform: scale(1.05);
}

.form button:active {
  transform: translateY(3px);
}

.form input {
  width: 60%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
}

.form textarea {
  resize: none;
  height: 12.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.75rem;
}

.err {
  color: red;
}
