.navigation {
  background-color: #ddd;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3rem;
  align-items: center;
}

.navigation__heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.navigation__links {
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.navigation__links a {
  text-decoration: none;
  color: #666;
}

.navigation__links a:visited {
  color: #666;
}

.navigation__links a:hover {
  color: #000;
  text-decoration: underline;
  animation: active 300ms ease-in-out;
}

.navigation__link--active {
  color: #000 !important;
  text-decoration: underline;
}

@keyframes active {
  from {
    text-decoration: none;
    color: #666;
  }
  to {
    text-decoration: underline;
    color: #000;
  }
}
