.footer {
  display: flex;
  background-color: #888888;
  color: white;
  height: 80px;
  justify-content: space-evenly;
}

.footer__credits {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-self: center;
}

.footer__heading {
  margin: 0;
  font-weight: 500;
}

.footer__heading a {
  color: white;
}

.footer__copyright {
  font-weight: 300;
  color: white;
}

.footer__sourceCode {
  color: white;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
}

.footer__navigation h5 {
  margin: 0;
  font-weight: 500;
}

.footer__navigation a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
  font-weight: 300;
}

.footer__navigation a:hover {
  text-decoration: underline;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer__contact h5 {
  font-weight: 500;
  margin: 0;
}

.footer__contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__contact ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .footer__contact ul li a {
    text-decoration: underline;
  }
}
